build/
toolchain/
*.err
bx_enh_dbg.ini
.vscode/*.log
.sconsign.dblite
__pycache__/
*.o
*.a
*.so
*.dylib
.DS_Store
*.pyc
.scons*
*.map

# Windows metadata files
*Zone.Identifier*
*Zone - Copy.Identifier*

# Temporary files
.mtoolsrc*
*.tmp